<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="icon" href="/img/logo.svg" type="image/x-icon" />
  <link rel="shortcut icon" href="/img/logo.svg" type="image/x-icon" />
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ATN shop</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link
    href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="/css/home.css">
  <link rel="stylesheet" href="/css/three-dots.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/fixedheader/3.1.9/css/fixedHeader.bootstrap5.min.css">
  <script src="/js/validation.js"></script>
  <style>
    .load {
      width: 100%;
      height: 100vh;
      position: absolute;
      top: 0;
      left: 0;
      padding: 0;
      margin: 0;
      background-color: white;
      z-index: 9000000000000;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  </style>
</head>

<body class="hidden">
  <div class="load">
    <div class="dot-pulse"></div>
  </div>
  {{>header}}
  {{>bar}}

  <div class="body">
    {{>alert}}
    {{{body}}}
  </div>
  </div>
  {{>alertDl}}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="/js/main.js"></script>
  <script>
    $(document).ready(function () {
      $(window).on('load', function () {
        $('.load').fadeOut('slow');
        document.body.classList.remove('hidden');
      })
      var table = $('#example').DataTable({
        fixedHeader: true
      });
    });
  </script>
  <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.min.js"></script>
  <script src="https://cdn.datatables.net/fixedheader/3.1.9/js/dataTables.fixedHeader.min.js"></script>
</body>

</html>