<link rel="stylesheet" href="/css/addPr.css">
<div class="background-body">
    <h3 class="title-muc">Add product</h3>
</div>
<div class="main-addPr">
    <div class="f-addPr">
        <div class="intro">
            <div class="intro-m">
                <div class="line"></div>
                <div class="infor-add">1. basic infor</div>
                <div class="infor-add">2. Email & number</div>
            </div>
        </div>
        <form action="/managerCustomers/actUpdate" class="form-add" enctype="multipart/form-data" method="post">
            <p class="main-title">1. basic infor</p>
            {{#if customer}}
            {{#each customer}}
            <div class="input">
                <p class="childen-title">Customer ID</p>
                <input type="text" readonly name="id" value="{{this._id}}" id="">
            </div>
            <div class="input">
                <p class="childen-title">Customer name</p>
                <input type="text" name="name" value="{{this.name}}" id="name">
                <p class="message"></p>
            </div>
            <p class="main-title">2. Email & number</p>
            <div class="price-quantity">
                <div class="input">
                    <p class="childen-title">Email</p>
                    <input type="email" value="{{this.email}}" required name="email" id="email">
                    <p class="message"></p>
                </div>
                <div class="input">
                    <p class="childen-title">Number phone</p>
                    <input type="tel" value="{{this.numberPhone}}" name="numberPhone" id="phone">
                    <p class="message"></p>
                </div>
            </div>
            {{/each}}
            {{/if}}
            <button class="submit" type="submit">Update</button>
        </form>
    </div>
</div>
<script>
    validation({
        form:'.form-add',
        rule:[
            validation.isrequire('#name'),
            validation.isrequire('#email'),
            validation.isrequire('#phone'),
            validation.checkemail('#email'),
            validation.isnumber('#phone'),
        ]
    })
</script>