<link rel="stylesheet" href="/css/addPr.css">
<div class="background-body">
    <h3 class="title-muc">Add product</h3>
</div>
<div class="main-addPr">
    <div class="f-addPr">
        <div class="intro">
            <div class="intro-m">
                <div class="line"></div>
                <div class="infor-add">1. basic infor</div>
                <div class="infor-add">2. category & supplier</div>
                <div class="infor-add">3. image</div>
            </div>
        </div>
        <form action="/managerProduct/insert" class="form-add" enctype="multipart/form-data" method="post">
            <p class="main-title">1. basic infor</p>
            <div class="input">
                <p class="childen-title">product name</p>
                <input type="text" name="name" id="name">
                <p class="message"></p>
            </div>
            <div class="price-quantity">
                <div class="input">
                    <p class="childen-title">new price</p>
                    <input type="text" name="new_price" id="new_price">
                    <p class="message"></p>
                </div>
                <div class="input">
                    <p class="childen-title">old price</p>
                    <input type="text" name="old_price" id="old_price">
                    <p class="message"></p>
                    
                </div>
                <div class="input">
                    <p class="childen-title">quantity</p>
                    <input type="text" name="quantity" id="quantity">
                    <p class="message"></p>

                </div>
            </div>
            <div class="input">
                <p class="childen-title">content</p>
                <textarea name="content" id="" cols="30" rows="10">

                </textarea>
            </div>
            <p class="main-title">2. category & supplier</p>
            <div class="price-quantity">
                <div class="input">
                    <p class="childen-title">category</p>
                    <select name="id_category" id="">
                        {{#if category}}
                        {{#each category }}
                        <option value="{{this._id}}">{{this.name}}</option>
                        {{/each}}
                        {{/if}}
                    </select>
                </div>
                <div class="input">
                    <p class="childen-title">supplier</p>
                    <select name="id_supplier" id="">
                        {{#if supplier}}
                        {{#each supplier }}
                        <option value="{{this._id}}">{{this.name}}</option>
                        {{/each}}
                        {{/if}}
                    </select>
                </div>
            </div>
            <p class="main-title">3. image</p>
            <div class="input">
                <p class="childen-title">Add new image</p>
                <label for="addfile" class="lable-file">
                    <img class="backg-img" src="https://img.icons8.com/cute-clipart/64/000000/edit-image.png" />
                </label>
                <input type="file" name="file" id="addfile">
            </div>
            <button class="submit" type="submit">Add new</button>
        </form>
    </div>

</div>
<script>
    validation({
        form:'.form-add',
        rule:[
            validation.isrequire('#new_price'),
            validation.isrequire('#old_price'),
            validation.isrequire('#name'),
            validation.isrequire('#quantity'),
            validation.isnumber('#new_price'),
            validation.isnumber('#quantity'),
            validation.isnumber('#old_price'),

        ]
    })
</script>