<link rel="stylesheet" href="/css/addPr.css">
<div class="background-body">
    <h3 class="title-muc">Add new staff</h3>
</div>
<div class="main-addPr">
    <div class="f-addPr">
        <div class="intro">
            <div class="intro-m">
                <div class="line"></div>
                <div class="infor-add">1. basic infor</div>
                <div class="infor-add">2. Email & password</div>
                <div class="infor-add">3. Role</div>
            </div>
        </div>
        <form action="/managerAccounts/insert" class="form-add" enctype="multipart/form-data" method="post">
            <p class="main-title">1. basic infor</p>
            <div class="input">
                <p class="childen-title">Name</p>
                <input type="text" name="name" id="name">
                <p class="message"></p>
            </div>
            <p class="main-title">2. Email & password</p>
            <div class="price-quantity">
                <div class="input">
                    <p class="childen-title">Email</p>
                    <input type="email" name="email" id="email">
                    <p class="message"></p>
                </div>
                <div class="input">
                    <p class="childen-title">Password</p>
                    <input type="tel" name="password" id="password">
                    <p class="message"></p>

                </div>
            </div>
            <p class="main-title">3. Role</p>
            <div class="role">
                <div>
                    <input type="radio" checked name="role" value="admin" id="admin">
                    <label for="admin">admin</label>
                </div>
                <div>
                    <input type="radio" name="role" value="staff" id="staff">
                    <label for="staff">staff</label>
                </div>
            </div>
            <div class="permission">
                <div class="box-checkbox">
                    <div class="checkAll">
                        <input type="checkbox" name="" class="product" id="product1">
                        <label for="product1">product</label>
                    </div>
                    <div class="ct-permission">
                        <div>
                            <input type="checkbox" class="product2" value="addProduct" name="permission"
                                id="permission">
                            <label for="permission">Add new product</label>
                        </div>
                        <div>
                            <input type="checkbox" class="product2" value="updateProduct" name="permission"
                                id="permission1">
                            <label for="permission1">Update product</label>
                        </div>
                        <div>
                            <input type="checkbox" class="product2" value="deleteProduct" name="permission"
                                id="permission2">
                            <label for="permission2">Delete product</label>
                        </div>
                    </div>
                </div>
                <div class="box-checkbox">
                    <div class="checkAll">
                        <input type="checkbox" name="" class="category" id="category1">
                        <label for="category1">category</label>
                    </div>
                    <div class="ct-permission">
                        <div>
                            <input type="checkbox" class="category2" value="addCategory" name="permission"
                                id="permission3">
                            <label for="permission3">Add new category</label>
                        </div>
                        <div>
                            <input type="checkbox" class="category2" value="updateCategory" name="permission"
                                id="permission4">
                            <label for="permission4">Update category</label>
                        </div>
                        <div>
                            <input type="checkbox" class="category2" value="deleteCategory" name="permission"
                                id="permission5">
                            <label for="permission5">Delete category</label>
                        </div>
                        <div>
                            <input type="checkbox" class="category2" value="detailCategory" name="permission"
                                id="permission6">
                            <label for="permission6">detail category</label>
                        </div>
                    </div>
                </div>
                <div class="box-checkbox">
                    <div class="checkAll">
                        <input type="checkbox" name="" class="supplier" id="supplier1">
                        <label for="supplier1">Supplier</label>
                    </div>
                    <div class="ct-permission">
                        <div>
                            <input type="checkbox" class="supplier2" value="addSupplier" name="permission"
                                id="permission7">
                            <label for="permission7">Add new supplier</label>
                        </div>
                        <div>
                            <input type="checkbox" class="supplier2" value="updateSupplier" name="permission"
                                id="permission8">
                            <label for="permission8">Update supplier</label>
                        </div>
                        <div>
                            <input type="checkbox" class="supplier2" value="deleteSupplier" name="permission"
                                id="permission9">
                            <label for="permission9">Delete supplier</label>
                        </div>
                        <div>
                            <input type="checkbox" class="supplier2" value="detailSupplier" name="permission"
                                id="permission10">
                            <label for="permission10">detail supplier</label>
                        </div>
                    </div>
                </div>
                <div class="box-checkbox">
                    <div class="checkAll">
                        <input type="checkbox" name="" class="customer" id="customer1">
                        <label for="customer1">Customer</label>
                    </div>
                    <div class="ct-permission">
                        <div>
                            <input type="checkbox" class="customer2" value="addCustomer" name="permission"
                                id="permission11">
                            <label for="permission11">Add new product</label>
                        </div>
                        <div>
                            <input type="checkbox" class="customer2" value="updateCustomer" name="permission"
                                id="permission12">
                            <label for="permission12">Update product</label>
                        </div>
                        <div>
                            <input type="checkbox" class="customer2" value="deleteCustomer" name="permission"
                                id="permission13">
                            <label for="permission13">Delete product</label>
                        </div>
                    </div>
                </div>
                <div class="box-checkbox">
                    <div class="checkAll">
                        <input type="checkbox" name="" class="invoice" id="invoice1">
                        <label for="invoice1">Invoice</label>
                    </div>
                    <div class="ct-permission">
                        <div>
                            <input type="checkbox" class="invoice2" value="addOrder" name="permission"
                                id="permission14">
                            <label for="permission14">Add new order</label>
                        </div>
                        <div>
                            <input type="checkbox" class="invoice2" value="deleteInvoice" name="permission"
                                id="permission15">
                            <label for="permission15">Delete invoice</label>
                        </div>
                        <div>
                            <input type="checkbox" class="invoice2" value="detailInvoice" name="permission"
                                id="permission16">
                            <label for="permission16">detail of invoice</label>
                        </div>
                        <div>
                            <input type="checkbox" class="invoice2" value="printBill" name="permission"
                                id="permission17">
                            <label for="permission17">Print bill</label>
                        </div>
                    </div>
                </div>
            </div>
            <button class="submit" type="submit">Add new</button>
        </form>
    </div>
</div>
<script>
    validation({
        form:'.form-add',
        rule:[
            validation.isrequire('#name'),
            validation.isrequire('#email'),
            validation.isrequire('#password'),
            validation.checkemail('#email'),
            validation.other('#password',['min',9]),
        ]
    })
</script>