input, select, textarea {
  border: 2px solid rgba(0, 0, 0, 0.171);
}

input:focus, select:focus, textarea:focus {
  border: 2px solid rgba(0, 0, 0, 0.322);
}

.main-addPr {
  margin-top: -50px;
  width: 100%;
  position: relative;
  min-height: calc(100vh - 200px);
  height: auto;
  padding: 0px 20px;
}

.main-addPr .f-addPr {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: white;
  border-radius: 5px;
}

.main-addPr .f-addPr .intro {
  width: 100%;
  height: 100px;
  position: relative;
  padding: 0px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 750px) {
  .main-addPr .f-addPr .intro {
    height: auto;
    padding-top: 30px;
  }
}

.main-addPr .f-addPr .intro .intro-m {
  width: 80%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 750px) {
  .main-addPr .f-addPr .intro .intro-m {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.main-addPr .f-addPr .intro .line {
  width: 100%;
  height: 2px;
  position: absolute;
  background-color: rgba(82, 92, 229, 0.349);
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media (max-width: 750px) {
  .main-addPr .f-addPr .intro .line {
    display: none;
  }
}

.main-addPr .f-addPr .intro .infor-add {
  height: 50px;
  width: 200px;
  border-radius: 25px;
  background-color: #525ce5;
  text-align: center;
  line-height: 50px;
  color: white;
  position: relative;
}

@media (max-width: 750px) {
  .main-addPr .f-addPr .intro .infor-add {
    margin-bottom: 20px;
  }
}

.main-addPr .f-addPr .form-add {
  width: 100%;
  position: relative;
  padding: 0px 20px;
}

.main-addPr .f-addPr .form-add .main-title {
  height: 40px;
  line-height: 40px;
  position: relative;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.781);
  font-weight: 500;
}

.main-addPr .f-addPr .form-add .input {
  width: 100%;
  position: relative;
}

.main-addPr .f-addPr .form-add .input .childen-title {
  height: 40px;
  line-height: 40px;
  position: relative;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.548);
  font-weight: 500;
}

.main-addPr .f-addPr .form-add .input input, .main-addPr .f-addPr .form-add .input textarea {
  outline: none;
  position: relative;
  display: block;
  margin-bottom: 10px;
  width: 100%;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 16px;
}

.main-addPr .f-addPr .form-add .input textarea {
  padding-top: 10px;
  resize: vertical;
}

.main-addPr .f-addPr .form-add .input input {
  height: 40px;
}

.main-addPr .f-addPr .form-add .input label {
  border: 2px dotted rgba(0, 0, 0, 0.397);
  width: 100%;
  position: relative;
  display: inline-block;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.main-addPr .f-addPr .form-add .input label .backg-img {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0.5;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.main-addPr .f-addPr .form-add .input #addfile {
  display: none;
}

.main-addPr .f-addPr .form-add .price-quantity {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 10px;
      -ms-flex-positive: 10px;
          flex-grow: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

@media (max-width: 750px) {
  .main-addPr .f-addPr .form-add .price-quantity {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.main-addPr .f-addPr .form-add .price-quantity .input {
  margin-right: 20px;
}

.main-addPr .f-addPr .form-add .price-quantity .input select {
  outline: none;
  position: relative;
  display: block;
  height: 40px;
  margin-bottom: 10px;
  width: 100%;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 16px;
}

.main-addPr .f-addPr .form-add .price-quantity .input:last-child {
  margin-right: 0px;
}

.main-addPr .f-addPr .form-add .submit {
  float: right;
  width: 100px;
  height: 40px;
  outline: none;
  border: none;
  position: relative;
  background-color: #525ce5;
  color: white;
  border-radius: 5px;
  margin-bottom: 20px;
  margin-top: 10px;
}

.role {
  position: relative;
  margin-bottom: 20px;
}

.role div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.permission {
  display: -ms-grid;
  display: grid;
  position: relative;
  -ms-grid-columns: (minmax(310px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
}

.permission .box-checkbox {
  margin-bottom: 20px;
}

.ct-permission {
  position: relative;
  padding-left: 10px;
  margin-top: 10px;
}

.ct-permission div {
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

input[type=radio] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 15px;
  height: 15px;
  background: #c9c9c9;
  border: none;
  outline: none;
  border-radius: 50%;
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

input[type=radio]::after {
  font-family: "Font Awesome 5 Free";
  content: '\f111';
  font-size: 8px;
  font-weight: 900;
  display: none;
  color: #525ce5;
}

input[type=radio]:checked {
  background: white;
}

input[type=radio]:checked::after {
  display: block;
}

input[type=radio]:hover {
  background: #979797;
  cursor: pointer;
}

input[type=checkbox] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 15px;
  height: 15px;
  background: #c9c9c9;
  border: none;
  outline: none;
  border-radius: 2px;
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

input[type=checkbox]::after {
  font-family: "Font Awesome 5 Free";
  content: '\f00c';
  font-size: 8px;
  font-weight: 900;
  display: none;
  color: white;
}

input[type=checkbox]:checked {
  background: #525ce5;
}

input[type=checkbox]:checked::after {
  display: block;
}

input[type=checkbox]:hover {
  background: #979797;
  cursor: pointer;
}

.checkAll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=addPr.css.map */