.content {
  position: relative;
  width: auto;
  margin-top: -50px;
  margin-left: 20px;
  margin-right: 20px;
  height: calc( 100vh - 200px);
  background-color: white;
  z-index: 10;
  border-radius: 5px;
  padding: 30px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.chat {
  width: 100%;
  height: 100%;
  position: relative;
}

.infor {
  margin-right: 20px;
  width: 300px;
  min-width: 300px;
  height: 100%;
  position: relative;
}

@media (max-width: 1000px) {
  .infor {
    display: none;
  }
}

.infor .me {
  position: relative;
  height: 300px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.infor .me img {
  width: 60%;
  height: 60%;
  margin-bottom: 10px;
}

.infor .me .name {
  font-size: 20px;
  font-weight: 500;
}

.infor .me .status {
  width: 100px;
  height: 30px;
  border-radius: 5px;
  background-color: #00fc4c48;
  color: #00fc4cdc;
  text-align: center;
  line-height: 30px;
}

.title {
  position: relative;
  width: 100%;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.title .status2 {
  background-color: #00fc4c48;
  border-radius: 5px;
  font-size: 14px;
  width: 100px;
  height: 100%;
  text-align: center;
  line-height: 30px;
}

.content-chat {
  width: 100%;
  height: calc(100% - 50px);
  position: relative;
}

.content-chat #messages {
  width: 100%;
  height: calc( 100% - 50px);
  position: relative;
  overflow: auto;
}

.content-chat #messages::-webkit-scrollbar {
  width: 8px;
}

.content-chat #messages::-webkit-scrollbar-thumb {
  background-color: rgba(163, 163, 163, 0.527);
  border-radius: 4px;
}

.content-chat form {
  position: absolute;
  bottom: 0px;
  height: 50px;
  width: 100%;
  background-color: white;
  padding: 5px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 0px -4px 100px 0px rgba(0, 0, 0, 0.438);
          box-shadow: 0px -4px 100px 0px rgba(0, 0, 0, 0.438);
}

.content-chat form input {
  width: 100%;
  height: 100%;
  margin-right: 20px;
  border: none;
  outline: none;
}

.content-chat form button {
  width: 70px;
  height: 100%;
  border-radius: 5px;
  background: #525ce59d;
  border: none;
  outline: none;
}

.content-chat form button i {
  color: #525ce5;
}

.send {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 20px;
  padding: 0px 20px;
}

.infor_send {
  width: 30%;
  min-width: 150px;
  max-width: 300px;
  padding: 20px;
  color: black;
  border-radius: 6px 6px 0px 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.infor_send img {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

.rignt {
  background-color: #525ce59f;
}

.date {
  margin-bottom: 5px;
  font-size: 14px;
}
/*# sourceMappingURL=chat.css.map */