@media (max-width: 767px) {
  .dataTables_filter {
    padding-top: 15px;
  }
}

@media (max-width: 767px) {
  .dataTables_info {
    display: none;
  }
}

@media (max-width: 767px) {
  .pagination {
    padding-top: 20px;
  }
}

.page-item.active .page-link {
  background-color: #525ce5;
  border: none;
  border-radius: 50%;
  width: 34px;
  height: 34px;
}

.body-detail {
  margin-top: -50px;
  width: 100%;
  position: relative;
  min-height: calc(100vh - 200px);
  height: auto;
  padding: 0px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1000px) {
  .body-detail {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.body-detail .range {
  width: 300px;
  min-width: 300px;
  height: 100%;
  position: relative;
  margin-right: 20px;
}

@media (max-width: 1000px) {
  .body-detail .range {
    width: 100%;
    min-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 20px;
  }
}

@media (max-width: 650px) {
  .body-detail .range {
    width: 100%;
    min-width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

.body-detail .range .statistical {
  width: 100%;
  background-color: white;
  height: auto;
  padding-top: 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}

@media (max-width: 1000px) {
  .body-detail .range .statistical {
    width: 30%;
  }
}

@media (max-width: 650px) {
  .body-detail .range .statistical {
    width: 100%;
  }
}

.body-detail .range .statistical .title-sta {
  color: #969494;
}

.body-detail .range .statistical i {
  width: 50px;
  height: 50px;
  position: relative;
  text-align: center;
  line-height: 50px;
  font-size: 18px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.body-detail .range .statistical .result-sta {
  font-size: 24px;
  font-weight: 500;
}

.body-detail .contain-ct {
  background-color: white;
  width: 100%;
  position: relative;
  height: 100%;
}

.body-detail .contain-ct {
  width: 100%;
  position: relative;
  background-color: white;
  font-family: 'Archivo', sans-serif;
  padding: 5px 20px;
  border-radius: 5px;
  overflow: auto;
}

.body-detail .contain-ct .table-infor {
  width: 100%;
  position: relative;
  background-color: white;
  font-family: 'Archivo', sans-serif;
  padding: 20px;
  border-radius: 5px;
  overflow: auto;
}

.body-detail .contain-ct .table-infor table {
  width: 100%;
  min-width: 600px;
}

.body-detail .contain-ct .table-infor table thead {
  height: 50px;
  min-height: 50px;
  line-height: 50px;
}

.body-detail .contain-ct .table-infor table tbody tr {
  height: 50px;
  min-height: 50px;
}

.body-detail .contain-ct .table-infor table tbody tr td {
  line-height: 50px;
  position: relative;
}

.body-detail .contain-ct .table-infor table tfoot {
  height: 20px;
  min-height: 20px;
  line-height: 20px;
}

.type-pr {
  border-bottom: 2px solid #525ce5;
}

.type-pr i {
  background-color: #525ce579;
  color: #656eee;
}

.quantity-pr {
  border-bottom: 2px solid #00fc4c;
}

.quantity-pr i {
  background-color: #00fc4c5e;
  color: #00fc4c;
}

.total {
  border-bottom: 2px solid #ff0000;
}

.total i {
  background-color: #ff000063;
  color: #ff0000d7;
}

.show-detail {
  margin-top: 20px;
  width: 120px;
  height: 40px;
  position: relative;
  display: block;
  text-decoration: none;
  text-align: center;
  line-height: 40px;
  color: white;
  border-radius: 5px;
  margin-bottom: 5px;
  background-color: #525ce5;
}

.show-detail:hover {
  color: white;
}

.img {
  width: 50px;
  height: 50px;
  position: relative;
  -o-object-fit: contain;
     object-fit: contain;
}

.title-item {
  color: #525ce5;
  font-weight: 500;
  position: relative;
  font-size: 20px;
  margin-top: 20px;
}

.customer {
  background-color: #949ae7ad;
  padding: 20px;
  border-radius: 5px;
  position: relative;
  margin-left: 20px;
  margin-right: 20px;
}
/*# sourceMappingURL=detail.css.map */