@mixin mobile-750 {
    @media (max-width: 750px) {
        @content
    }
}
@mixin mobile-1200 {
    @media (max-width: 1200px) {
        @content
    }
}
 input, select, textarea{
    border: 2px solid rgba(0, 0, 0, 0.171);
    &:focus{
        border: 2px solid rgba(0, 0, 0, 0.322);
    }
}
.main-addPr{
    margin-top: -50px;
    width: 100%;
    position: relative;
    min-height: calc(100vh - 200px);
    height: auto;
    padding: 0px 20px;
    .f-addPr{
        width: 100%;
        height: 100%;
        position: relative;
        background-color: white;
        border-radius: 5px;
        .intro{
            width: 100%;
            height: 100px;
            position: relative;
            padding: 0px 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            @include mobile-750(){
                height: auto;
                padding-top: 30px;
            }
            .intro-m{
                width: 80%;
                height: 100%;
                display: flex;
                position: relative;
                justify-content: space-between;
                align-items: center;
                @include mobile-750(){
                    flex-direction: column;
                }
            }
            .line{
                @include mobile-750(){
                    display: none;
                }
                width: 100%;
                height: 2px;
                position: absolute;
                background-color: rgba(82, 92, 229, 0.349);
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
            }
            .infor-add{
                height: 50px;
                width: 200px;
                border-radius: 25px;
                background-color: #525ce5;
                text-align: center;
                line-height: 50px;
                color: white;
                position: relative;
                @include mobile-750(){
                    margin-bottom: 20px;
                }
            }
        }
        .form-add{
            width: 100%;
            position: relative;
            padding: 0px 20px;
            .main-title{
                height: 40px;
                line-height: 40px;
                position: relative;
                font-size: 20px;
                color: rgba(0, 0, 0, 0.781);
                font-weight: 500;
            }
            .input{
                width: 100%;
                position: relative;
                .childen-title{
                    height: 40px;
                    line-height: 40px;
                    position: relative;
                    font-size: 16px;
                    color: rgba(0, 0, 0, 0.548);
                    font-weight: 500;
                }
                & input, & textarea{
                    outline: none;
                    position: relative;
                    display: block;
                    margin-bottom: 10px;
                    width: 100%;
                    border-radius: 5px;
                    padding-left: 10px;
                    font-size: 16px;
                }
                textarea{
                    padding-top: 10px;
                    resize:vertical;
                }
                input{
                    height: 40px;
                }
                label{
                    border: 2px dotted rgba(0, 0, 0, 0.397);
                    width: 100%;
                    position: relative;
                    display: inline-block;
                    height: 100px;
                    display: flex;
                    align-items: center;
                    .backg-img{
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        opacity: 0.5;
                        transform: translate(-50%,-50%);
                    }
                    margin-bottom: 20px;
                }
                #addfile{
                    display: none;
                }
            }
            .price-quantity{
                width: 100%;
                display: flex;
                flex-grow: 10px;
                justify-content: space-between;
                position: relative;
                @include mobile-750(){
                    flex-direction: column;
                }
                .input{
                    margin-right: 20px;
                    select{
                        outline: none;
                        position: relative;
                        display: block;
                        height: 40px;
                        margin-bottom: 10px;
                        width: 100%;
                        border-radius: 5px;
                        padding-left: 10px;
                        font-size: 16px;
                    }
                    &:last-child{
                        margin-right: 0px;
                    }
                }
            }
            .submit{
                float: right;
                width: 100px;
                height: 40px;
                outline: none;
                border: none;
                position: relative;
                background-color: #525ce5;
                color: white;
                border-radius: 5px;
                margin-bottom: 20px;
                margin-top: 10px;
            }
        }
    }
}
.role{
    position: relative;
    div{
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }
    margin-bottom: 20px;
}
.permission{
    display: grid;
    position: relative;
    grid-template-columns: repeat(auto-fill,minmax(310px,1fr));

    .box-checkbox{
        margin-bottom: 20px;
    }
}
.ct-permission{
    position: relative;
    padding-left: 10px;
    margin-top: 10px;
    div{
        height: 30px;
        display: flex;
        align-items: center;
    }
}
input[type=radio] {
    appearance: none;
    width: 15px;
    height: 15px;
    background: rgb(201, 201, 201);
    border: none;
    outline: none;
    border-radius: 50%;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
input[type=radio]::after{
    font-family: "Font Awesome 5 Free";
    content:'\f111' ;
    font-size: 8px;
    font-weight: 900;
    display: none;
    color:#525ce5;
}
input[type=radio]:checked{
    background:white;
}
input[type=radio]:checked::after{
    display: block;
}
input[type=radio]:hover{
    background: rgb(151, 151, 151);
    cursor: pointer;
}

input[type=checkbox] {
    appearance: none;
    width: 15px;
    height: 15px;
    background: rgb(201, 201, 201);
    border: none;
    outline: none;
    border-radius: 2px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
input[type=checkbox]::after{
    font-family: "Font Awesome 5 Free";
    content:'\f00c' ;
    font-size: 8px;
    font-weight: 900;
    display: none;
    color: white;
}
input[type=checkbox]:checked{
    background:#525ce5;
}
input[type=checkbox]:checked::after{
    display: block;
}
input[type=checkbox]:hover{
    background: rgb(151, 151, 151);
    cursor: pointer;
}
.checkAll{
    display: flex;
    align-items: center;
}

