
@mixin mobile-500 {
    @media (max-width: 500px) {
        @content
    }
}
.lable-color{
    border-bottom: 10px solid #6b74e7;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Archivo', sans-serif;
    color: rgb(80, 82, 82);
}
body{
    background-color: #6b74e7;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    @include mobile-500(){
        background-color: white;
    }
}
.form{
    width: 400px;
    position: relative;
    background-color: white;
    border-radius: 8px;
    padding: 30px;
    .title{
        font-size: 25px;
        font-weight: 500;
        color: rgb(82, 82, 82);
        margin-bottom: 20px;
    }
    .imgALogo{
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        img{
            width: 80px;
            height: 80px;
            position: relative;
            margin-right: 10px;
        }
        p{
            padding-top: 10px;
            color: #6b74e7;
            font-weight: 700;
            position: relative;
        }
    }
    form{
        .t_person{
            position: relative;
            margin-bottom: 20px;
            input{
                display: none;
            }
            label{
                position: relative;
                border-bottom: 2px solid #6b74e7;
                transition: 0.1s linear;
                cursor: pointer;
                &:nth-child(1){
                    margin-right: 20px;
                }
            }
        }
        .title-form{
            margin-bottom: 10px;
            span{
                color: red;
            }
        }
        .infor{
            position: relative;
            margin-bottom: 20px;
            width: 100%;
            height: 40px;
            padding-left: 10px;
            outline: none;
            border: 1px solid #6b74e7;
            border-radius: 5px;
        }
        button{
            width: 100px;
            height: 40px;
            border: none;
            outline: none;
            background-color: #6b74e7;
            color: white;
            border-radius: 5px;
            margin-bottom: 20px;
            font-weight: 500;
        }
        .message{
            color: red;
            position: relative;
            margin-top: -10px;
            margin-bottom: 20px;
        }
    }
}