// product

@mixin mobile-700() {
    @media (max-width:700px) {
        @content
    }
}
.f-category, .f-suplier{
    display: none;
}
.main-product{
    margin-top: -50px;
    width: 100%;
    position: relative;
    min-height: calc(100vh - 200px);
    height: auto;
    display: flex;
    padding: 0px 20px;
    @include mobile-700(){
        flex-direction: column;
    }
    .bar-product{
        width: 300px;
        min-width: 300px;
        height: auto;
        border-radius: 5px;
        position: relative;
        background-color: white;
        @include mobile-700(){
            width: 100%;
            min-width: 100%;
            margin-bottom: 20px;
        }
        .filters{
            width: 100%;
            height: 50px;
            position: relative;
            padding: 10px;
            color: rgb(63, 63, 63);
            font-size: 20px;
            font-weight: 500;
        }
        .bar-fuc-product{
            width: 100%;
            height: auto;
            padding-left: 25px;
            position: relative;
            .title-func{
                cursor: pointer;
                a{
                    text-decoration: none;
                    color: rgb(63, 63, 63);
                }
                margin-bottom: 10px;
                height: 40px;
                position: relative;
                line-height: 40px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-right: 20px;
                i{
                    transition: 0.2s linear;
                    font-size: 12px;
                }
            }
            .f-search{
                height: auto;
                width: 100%;
                position: relative;
                padding-left: 20px;
                .search{
                    width: 100%;
                    height: 50px;
                    display: flex;
                    justify-content: space-between;
                    position: relative;
                    align-items: center;
                    img{
                        height: 30px;
                        width: auto;
                        position: relative;
                        margin-right: 10px;
                    }
                    input{
                        width: calc(100% - 30px);
                        height: 100%;
                        border: none;
                        position: relative;
                        outline: none;
                        font-size: 16px;
                    }
                }
                .page-category{
                    display: flex;
                    height: auto;
                    flex-direction: column;
                    position: relative;
                    width: 100%;
                    background-color: red;
                    button{
                        height: 40px;
                        outline: none;
                        border: none;
                        width: 100%;
                        position: relative;
                        text-align: left;
                        line-height: 40px;
                    }
                }
            }
        }
    }
    .products{
        width: 100%;
        position: relative;
        min-height: 100%;
        .pr-contain{
            width: 100%;
            position: relative;
            min-height: calc( 100% - 70px);
            height: calc( 100% - 70px);
            display: grid;
            grid-gap: 25px;
            grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
            padding-left: 20px;
            .product{
                position: relative;
                background-color:white;
                height:fit-content;
                border-radius: 5px;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 20px 0px;
                .sale{
                    border-radius: 49% 51% 27% 73% / 48% 73% 27% 52% ;
                    width: 60px;
                    height: 60px;
                    background-color: #525ce5;
                    position: absolute;
                    top: 20px;
                    left: 20px;
                    font-size: 18px;
                    text-align: center;
                    font-weight: 500;
                    color: white;
                    padding-top: 10px;
                }
                .img-product{
                    width: 80%;
                    height: 300px;
                    object-fit: contain;
                    object-position: center;
                }
                .name-product{
                    font-size: 16px;
                    position: relative;
                    font-weight: 500;
                    color: rgb(66, 66, 66);
                    margin-bottom: 10px;
                }
                .price{
                    font-size: 20px;
                    position: relative;
                    font-weight: 500;
                    color: rgb(66, 66, 66);
                    margin-bottom: 10px;
                    .pr-f{
                        position: relative;
                        margin-left: 10px;
                        text-decoration: line-through;
                        color: rgb(180, 182, 182);
                        font-size: 15px;
                    }
                }
                .evalue{
                    font-size: 12px;
                    position: relative;
                    font-weight: 500;
                    margin-bottom: 10px;
                    i{
                        color: rgb(253, 195, 6);
                    }
                }
                .func-product{
                    position: relative;
                    display: flex;
                    a{
                        color: white;
                        text-decoration: none;
                        width: 100px;
                        height: 40px;
                        line-height: 40px;
                        border-radius: 5px;
                    }
                    .update-prd{

                        position: relative;
                        background-color:#525ce5;
                        margin-right: 10px;
                        text-align: center;
                    }
                        .delete-prd{
                            outline: none;
                            border: none;
                            position: relative;
                            background-color: #e55252c9;
                            margin-right: 10px;
                            text-align: center;
                        }
    
                }
            }
    
        }
    }

    .product-page{
        width: 100%;
        min-width: 100%;
        max-width: 100%;
        height: 70px;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 20px;
        .cur-page{
            height: 100%;
            line-height: 90px;
            position: relative;
        }
        .pages{
            position: relative;
            display: flex;
            button{
                outline: none;
                border: none;
                width: 35px;
                height: 35px;
                border-radius: 50%;
                text-align: center;
                line-height: 35px;
                text-decoration: none;
                margin-left: 10px;
            }

        }
    }
}
.color{
    background-color: #525ce5;
    color: white;
}