<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="/img/logo.svg" type="image/x-icon" />
    <link rel="shortcut icon" href="/img/logo.svg" type="image/x-icon" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ATN shop</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link
    href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;0,900;1,300;1,400;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <style>
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        body{
            display: flex;
            justify-content: center;
            height: 100vh;
            position: relative;
            width: 100%;
            overflow: hidden;
        }
        .infor{
            position: absolute;
            display: flex;
            align-items: center;
            height: 100%;
            flex-direction: column;
            justify-content: center;
        }
        .error{
            font-family: 'Nunito Sans', sans-serif;
            font-size: 250px;
            font-weight: 700;
            color: #525ce5;
            opacity: 0.9;
        }
        a{
            width: 140px;
            height: 50px;
            color: white;
            border-radius: 5px;
            background-color: #525ce5;
            text-decoration: none;
            line-height: 50px;
            text-align: center;
            font-family: 'Archivo', sans-serif;
            font-weight: 500;
        }
        h2{
            font-family: 'Archivo', sans-serif;
            color: rgb(87, 87, 87);
            font-size: 50px;
            margin-bottom: 20px;
        }
        .error1{
            font-family: 'Archivo', sans-serif;
            color: rgb(22, 22, 22);
            font-size: 20px;
            margin-bottom: 20px;

        }
    </style>
</head>
<body>
    <img src="/img/404.png" alt="img">
    <div class="infor">
        <p class="error">404</p>
        <h2>Oops!</h2>
        <p class="error1">Sorry, an error has occured, requrested page not found!</p>
        <a href="/">Back to home</a>
    </div>

</body>
</html>