<link rel="stylesheet" href="/css/backup.css">
<div class="background-body">
    <h3 class="title-muc">Backup data</h3>
</div>
<div class="body-ct">
    <p class="title">Dowload data</p>
    <div class="content">
        <a class="excel" download="" href="/excel/products.xlsx">
            <img src="https://img.icons8.com/color/48/000000/microsoft-excel-2019.png" />
            <p>Products</p>
        </a>
        <a class="excel" download="" href="/excel/categories.xlsx">
            <img src="https://img.icons8.com/color/48/000000/microsoft-excel-2019.png" />
            <p>Categories</p>
        </a>
        <a class="excel" download="" href="/excel/suppliers.xlsx">
            <img src="https://img.icons8.com/color/48/000000/microsoft-excel-2019.png" />
            <p>Suppliers</p>
        </a>
        <a class="excel" download="" href="/excel/accounts.xlsx">
            <img src="https://img.icons8.com/color/48/000000/microsoft-excel-2019.png" />
            <p>Accounts</p>
        </a>
        <a class="excel" download="" href="/excel/customers.xlsx">
            <img src="https://img.icons8.com/color/48/000000/microsoft-excel-2019.png" />
            <p>Customers</p>
        </a>
        <a class="excel" download="" href="/excel/invoices.xlsx">
            <img src="https://img.icons8.com/color/48/000000/microsoft-excel-2019.png" />
            <p>invoices</p>
        </a>
    </div>
</div>