<link rel="stylesheet" href="/css/addPr.css">
<div class="background-body">
    <h3 class="title-muc">Add category</h3>
</div>
<div class="main-addPr">
    <div class="f-addPr">
        <div class="intro">
            <div class="infor-add">1. basic infor</div>

        </div>
        <form action="/managerCategories/insert" class="form-add" enctype="multipart/form-data" method="post">
            <p class="main-title">1. basic infor</p>
            <div class="input">
                <p class="childen-title">category name</p>
                <input type="text" name="name" id="namect">
                <p class="message"></p>
            </div>
            <button class="submit" type="submit">Add new</button>
        </form>
    </div>
</div>
<script>
    validation({
        form:'.form-add',
        rule:[
            validation.isrequire('#namect'),
        ]
    })
</script>