<div class="dialogms">
  <div class="dialog">
    <img class="ic-delete" src="https://img.icons8.com/windows/32/000000/delete-sign.png" />
    <p class="dgtitle">Delete element</p>
    <p class="dgcontent"></p>
    <img class="img-delete" src="/img/delete.png" alt="img">
    <a class="bt-delete" href="">Delete</a>
  </div>
</div>