<div class="contain">
  <div class="main-bar scroll left">
    <div class="infor-user flex">
      <img src="/img/logo.svg" alt="logo" class="img-user">
      <p class="name-user">Nguyen Quang Hoang</p>
      <p class="position">Admin</p>
    </div>
    <p class="title-menu">Menu</p>
    <div class="functions">

      <div class="func">
        <div class="open-func">
          <div>
            <i class="fas fa-home"></i>
            <span><a href="/">Dashboard</a></span>
          </div>
        </div>
      </div>
      <div class="func">
        <div class="open-func">
          <div>
            <i class="fas fa-box"></i>
            <span>products</span>
          </div>
          <i class="fas fa-chevron-right down"></i>
        </div>
        <ul class="contain-func">
          <li class="childen-func">
            <a href="/managerProduct">show products</a>
          </li>
          <li class="childen-func">
            <a href="/managerProduct/add">add products</a>
          </li>
        </ul>
      </div>

      <div class="func">
        <div class="open-func">
          <div>
            <i class="fas fa-boxes"></i>
            <span>categories</span>
          </div>
          <i class="fas fa-chevron-right down"></i>
        </div>
        <ul class="contain-func">
          <li class="childen-func">
            <a href="/managerCategories">show categories</a>
          </li>
          <li class="childen-func">
            <a href="/managerCategories/add">add category</a>
          </li>
        </ul>
      </div>
      <div class="func">
        <div class="open-func">
          <div>
            <i class="fas fa-people-carry"></i>
            <span>suppliers</span>
          </div>
          <i class="fas fa-chevron-right down"></i>
        </div>
        <ul class="contain-func">
          <li class="childen-func">
            <a href="/managerSuppliers">show suppliers</a>
          </li>
          <li class="childen-func">
            <a href="/managerSuppliers/add">add supplier</a>
          </li>
        </ul>
      </div>

      <div class="func">
        <div class="open-func">
          <div>
            <i class="fas fa-user"></i>
            <span>Customer</span>
          </div>
          <i class="fas fa-chevron-right down"></i>
        </div>
        <ul class="contain-func">
          <li class="childen-func">
            <a href="/managerCustomers">Show customers</a>
          </li>
          <li class="childen-func">
            <a href="/managerCustomers/add">Add customer</a>
          </li>
        </ul>
      </div>


      <div class="func">
        <div class="open-func">
          <div>
            <i class="fas fa-users"></i>
            <span>Accounts</span>
          </div>
          <i class="fas fa-chevron-right down"></i>
        </div>
        <ul class="contain-func">
          <li class="childen-func">
            <a href="/managerAccounts">Show accounts</a>
          </li>
          <li class="childen-func">
            <a href="/managerAccounts/add">Add account</a>
          </li>
        </ul>
      </div>

      <div class="func">
        <div class="open-func">
          <div>
            <i class="fas fa-file-invoice"></i>
            <span>Bill</span>
          </div>
          <i class="fas fa-chevron-right down"></i>
        </div>
        <ul class="contain-func">
          <li class="childen-func">
            <a href="/managerInvoices">show invoices</a>
          </li>
          <li class="childen-func">
            <a href="/managerInvoices/addNew">add order</a>
          </li>
        </ul>
      </div>

      <div class="func">
        <div class="open-func">
          <div>
            <i class="fas fa-file-excel"></i>
            <span><a href="/exportData1">Export data</a></span>
          </div>
        </div>
      </div>


      <div class="func">
        <div class="open-func">
          <div>
           <i class="fas fa-paper-plane"></i>
            <span><a href="/chat">Group chat</a></span>
          </div>
        </div>
      </div>

      <div class="func">
        <div class="open-func">
          <div>
            <i class="fas fa-envelope-open-text"></i>
            <span>Gmail</span>
          </div>
        </div>
      </div>


    </div>
  </div>