<header>
  <div class="mainLogo m-w-250">
    <img src="/img/logo.svg" alt="img" class="logo">
    <p class="name">ATN shop</p>
  </div>
  <div class="header-func">
    <div class="openBar">
      <img src="https://img.icons8.com/android/24/000000/menu.png" alt="img" />
    </div>

    <div class="account">
      <img src="/img/logo.svg" alt="img" class="imgAc">
      <details class="magAc">
        <summary>{{nameAccount}}</summary>
        <div class="funcAc">
          <a href="/login/out">Log out</a>
        </div>
      </details>
    </div>
  </div>
</header>